* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F7;
}

.emphasis {
  color: #6E6E73;
}

.btn__back {
  left: 1rem;
}

.btn__after {
  right: 1rem;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header .header__logo img {
  width: 1.3rem;
}
.header .header__desktop {
  display: none;
}
.header .header__desktop .nav__desktop ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.header .header__desktop .nav__desktop ul .dropdown .dropdown-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header .header__desktop .nav__desktop ul .dropdown .dropdown-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
  left: 0;
  padding: 2rem;
  width: 100%;
  background-color: #F5F5F7;
}
.header .header__desktop .nav__desktop ul .dropdown .dropdown-menu .table2 {
  border-spacing: 2rem 0rem;
}
.header .header__desktop .nav__desktop ul .dropdown .dropdown-menu .table__title {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 300;
  color: #6E6E73;
  padding-bottom: 1rem;
}
.header .header__desktop .nav__desktop ul .dropdown .dropdown-menu .table__data-head {
  font-size: 1.3rem;
  font-weight: 600;
}
.header .header__desktop .nav__desktop ul .dropdown .dropdown-menu .table__data-basic {
  font-size: 0.8rem;
  font-weight: 100;
}
.header .header__desktop .nav__desktop ul .dropdown .dropdown-item {
  padding: 5px 10px;
}
.header .header__desktop .nav__desktop ul .dropdown .show {
  display: none;
}
.header .header__mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  background-color: #fff;
  display: none;
}
.header .header__mobile .nav__mobile {
  padding: 3rem;
  height: 200vh;
  overflow: hidden;
}
.header .header__mobile .nav__mobile img {
  width: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.header .header__mobile .nav__mobile ul {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3rem;
}
.header .header__tools {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}
.header .header__tools img {
  width: 1.1rem;
}
.header .header__tools .button__menu {
  display: block;
}

.main {
  padding: 0 1rem;
  width: 100%;
}
.main .main__sec1 {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.main .main__sec1 .sec1__introduction {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}
.main .main__sec1 .sec1__introduction h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.2rem;
}
.main .main__sec1 .sec1__support {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.main .main__sec1 .sec1__support .support {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.main .main__sec1 .sec1__support .support img {
  width: 2rem;
}
.main .main__sec1 .sec1__support .support .infos p, .main .main__sec1 .sec1__support .support .infos a {
  font-size: 1rem;
}
.main .main__sec1 .sec1__support .support .infos a {
  text-decoration: none;
  color: blue;
}
.main .main__carroussel {
  display: flex;
  margin: 3rem 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.main .main__carroussel::-webkit-scrollbar {
  width: 0px;
}
.main .main__carroussel .btn__navigation-carr1 {
  position: absolute;
  align-self: center;
  margin-top: 2rem;
  border: none;
  background-color: rgba(110, 110, 115, 0.5137254902);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.main .main__carroussel .btn__navigation-carr1 i {
  color: #fff;
}
.main .main__carroussel .carroussel__div {
  margin: 0 1rem;
}
.main .main__carroussel .carroussel__div .carroussel__a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.main .main__carroussel .carroussel__div .carroussel__a img {
  width: 6rem;
  padding-bottom: 1rem;
}
.main .main__sec2 {
  padding-top: 2rem;
}
.main .main__sec2 h2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.main .main__sec2 .sec2__carroussel2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.main .main__sec2 .sec2__carroussel2::-webkit-scrollbar {
  width: 0px;
}
.main .main__sec2 .sec2__carroussel2 .card__black {
  color: #fff;
}
.main .main__sec2 .sec2__carroussel2 .card__white {
  color: #000;
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div {
  margin: 1rem 0;
  min-width: 17rem;
  height: 30rem;
  border-radius: 1rem;
  padding: 2rem;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div p:nth-child(1) {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500;
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div p:nth-child(3) {
  font-size: 1.2rem;
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(1) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-iphone-15-pro-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692910040844");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(2) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-watch-s9-202309_GEO_BR?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1693501298681");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(3) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-macbook-pro-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1696964122967");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(4) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-bts-202306_GEO_BR?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1701212019653");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(5) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-ipad-202310_GEO_BR?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1696875323691");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(6) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-iphone-15-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692719973220");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(7) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-watch-ultra-202309_GEO_BR?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1693354003258");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(8) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-macbook-air-202306?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1683844828182");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(9) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-ipad-pro-202210_GEO_BR?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1667506326069");
}
.main .main__sec2 .sec2__carroussel2 .carroussel2__div:nth-child(10) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-watch-se-202303_GEO_BR?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1677306369742");
}
.main .main__sec2 .sec2__carroussel2 .btn__navigation-carr2 {
  position: absolute;
  align-self: center;
  border: none;
  background-color: rgba(110, 110, 115, 0.5137254902);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.main .main__sec3 {
  padding-top: 2rem;
}
.main .main__sec3 h2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.main .main__sec3 .sec3__carroussel3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.main .main__sec3 .sec3__carroussel3::-webkit-scrollbar {
  width: 0px;
}
.main .main__sec3 .sec3__carroussel3 .carroussel3__div {
  margin: 1rem 0;
  min-width: 17rem;
  height: 30rem;
  border-radius: 1rem;
  padding: 2rem;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
  color: #000;
  text-shadow: 0px 0px 10px white;
}
.main .main__sec3 .sec3__carroussel3 .carroussel3__div p:nth-child(1) {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.main .main__sec3 .sec3__carroussel3 .carroussel3__div p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500;
}
.main .main__sec3 .sec3__carroussel3 .carroussel3__div p:nth-child(3) {
  font-size: 1.2rem;
}
.main .main__sec3 .sec3__carroussel3 .carroussel3__div:nth-child(1) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-50-specialist-help-202309?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1701194078821");
}
.main .main__sec3 .sec3__carroussel3 .carroussel3__div:nth-child(2) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-50-TAA-202310?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1697149577145");
}
.main .main__sec3 .sec3__carroussel3 .div__double {
  min-width: 17rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.main .main__sec3 .sec3__carroussel3 .div__double .carroussel3__double {
  font-weight: 500;
  font-size: 1.3rem;
  height: 100%;
  padding: 3rem 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
  text-decoration: none;
  border-radius: 1rem;
  color: #000;
  background-position: center center;
  background-size: cover;
}
.main .main__sec3 .sec3__carroussel3 .div__double .carroussel3__double:nth-child(1) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-25-apps-202108?wid=480&hei=240&fmt=p-jpg&qlt=95&.v=1626223748000");
}
.main .main__sec3 .sec3__carroussel3 .div__double .carroussel3__double:nth-child(2) {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-25-genius-202108?wid=960&hei=480&fmt=p-jpg&qlt=95&.v=1626384443000");
}
.main .main__sec3 .sec3__carroussel3 .btn__navigation-carr3 {
  position: absolute;
  align-self: center;
  border: none;
  background-color: rgba(110, 110, 115, 0.5137254902);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.main .main__sec4 {
  padding-top: 2rem;
}
.main .main__sec4 h2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.main .main__sec4 .sec4__carroussel4 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.main .main__sec4 .sec4__carroussel4::-webkit-scrollbar {
  width: 0px;
}
.main .main__sec4 .sec4__carroussel4 .carroussel4__div {
  margin: 1rem 0;
  min-width: 17rem;
  height: 15rem;
  border-radius: 1rem;
  padding: 2rem;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
}
.main .main__sec4 .sec4__carroussel4 .carroussel4__div i {
  color: rgb(85, 199, 85);
  font-size: 2.2rem;
}
.main .main__sec4 .sec4__carroussel4 .carroussel4__div p {
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
}
.main .main__sec4 .sec4__carroussel4 .carroussel4__div .i__emphasis {
  color: rgb(18, 18, 247);
}
.main .main__sec4 .sec4__carroussel4 .btn__navigation-carr4 {
  position: absolute;
  align-self: center;
  border: none;
  background-color: rgba(110, 110, 115, 0.5137254902);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header .header__desktop {
    display: block;
  }
  .header .header__tools .button__menu {
    display: none;
  }
  .main .main__sec1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .main .main__sec1 .sec1__introduction {
    padding-right: 20%;
  }
  .main .main__sec1 .sec1__support {
    align-items: end;
  }
  .main .main__sec1 .sec1__support .support {
    justify-content: start;
    width: 13rem;
  }
  .main .main__sec1 .sec1__support .support img {
    width: 1.5rem;
  }
  .main .main__sec1 .sec1__support .support .infos p, .main .main__sec1 .sec1__support .support .infos a {
    font-size: 0.7rem;
  }
  .main .main__sec2 .sec2__carroussel2 .carroussel2__div {
    min-width: 22rem;
    height: 27rem;
  }
  .main .main__sec3 .sec3__carroussel3 .carroussel3__div {
    min-width: 22rem;
    height: 27rem;
  }
  .main .main__sec3 .sec3__carroussel3 .div__double {
    min-width: 22rem;
    height: 27rem;
  }
  .main .main__sec4 .sec4__carroussel4 .carroussel4__div {
    height: 13rem;
    max-width: 1rem;
  }
  .main .main__sec4 .sec4__carroussel4 .carroussel4__div p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .main .main__sec1 .sec1__introduction h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .main .main__sec1 .sec1__support .support {
    width: 18rem;
  }
  .main .main__sec1 .sec1__support .support img {
    width: 2rem;
  }
  .main .main__sec1 .sec1__support .support .infos p, .main .main__sec1 .sec1__support .support .infos a {
    font-size: 1rem;
  }
  .main .main__carroussel .carroussel__div .carroussel__a img {
    width: 8rem;
  }
  .main .main__sec4 .sec4__carroussel4 .btn__navigation-carr4 {
    display: none;
  }
}
@media (min-width: 1145px) {
  .main .main__carroussel {
    position: relative;
  }
  .main .main__sec3 .btn__navigation-carr3 {
    display: none;
  }
}
@media (min-width: 1250px) {
  .main .main__carroussel .btn__navigation-carr1 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
